/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
* Basic styling
*/
html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #232323;
  -webkit-text-size-adjust: 100%;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: cursive;
  font-weight: 300;
  line-height: 1;
}

h1 {
  font-size: 3.5rem;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 2.25rem;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 3.5rem;
  }
}

/**
 * Links
 */
a {
  color: #228f1d;
  text-decoration: none;
}
a:visited {
  color: #134f10;
}
a:hover {
  text-decoration: underline;
}

/**
 * Wrapper
 */
.section {
  width: 100%;
  padding: 5rem 0;
  margin: 0;
  background-color: white;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
.container p {
  text-align: left;
  font-weight: 300;
  font-size: 0.875rem;
}
@media only screen and (min-width: 768px) {
  .container p {
    font-size: 1.15rem;
  }
}

.section.draftboard {
  padding: 0;
}
.section.draftboard .row {
  width: 100%;
  clear: both;
}
.section.draftboard .row:after {
  content: " ";
  display: table;
  clear: both;
}
.section.draftboard .row.header {
  position: relative;
  box-shadow: 0px 0.25rem 0.2rem -0.2rem #232323;
  z-index: 1;
}
.section.draftboard .row.header .object {
  border-left: none;
  height: auto;
}
.section.draftboard .row.header .object:hover {
  background-color: white;
}
.section.draftboard .object {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  border-left: 0.5rem solid #228f1d;
  float: left;
}
.section.draftboard .object.twelve {
  width: 8.33333%;
  height: 5.375rem;
  padding: 1rem 1%;
  font-size: 0.75rem;
}
.section.draftboard .object:hover {
  background-color: #f2f2f2;
}
.section.draftboard .object span {
  display: block;
  float: none;
}
.section.draftboard .object span.bold {
  font-weight: bold;
}
.section.draftboard .object span.fixed {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}
